.game {
    margin: auto;
    padding-left: 17%;
}

.score {
    height: max-content;
    color: yellow;
    text-align: center;
    font-size: 1em;
}

@font-face {
    font-family: pacman-good;
    src: url('../assests/PacFont\ Good.ttf');
}

@font-face {
    font-family: pacman;
    src: url('../assests/PacFont.ttf');
}


.welcome {
    height: max-content;
    padding: 60px;
}

.welcome .title {
    color: yellow;
    text-align: center;
    font-size: 5em;
    font-family: pacman-good;
}

.welcome .content {
    color: yellow;
    text-align: center;
    font-size: 2em;
}

.wall {
    width: 50px;
    height: 50px;
    background-image: url('../assests/wall.png');
    display: inline-block;
}
.coin {
    width: 50px;
    height: 50px;
    background-image: url('../assests/coin.png');
    display: inline-block;
}
.ground {
    width: 50px;
    height: 50px;
    background-image: url('../assests/bg.png');
    display: inline-block;
}
.ghost {
    width: 50px;
    height: 50px;
    background-image: url('../assests/ghost1.png');
    display: inline-block;
}
.pacman {
    width: 50px;
    height: 50px;
    background-image: url('../assests/pacman.png');
    display: inline-block;
}

div {
    line-height: 0px;
}